.Forms div input{
    float: center;
}


H1 {
    color: blue;


}
p {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;  
}